body {
  background: white;
}
.bar:hover {
  fill: #0cc;
}
.titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin: auto;
}
.tick {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}
.grid line {
  stroke: #ccc;
}
.grid path {
  stroke: white;
}
#tooltip {
  position: absolute;
  height: auto;
  padding: 0px 5px 0px 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}
#tooltip.hidden {
  display: none;
}
#svg {
  margin: 1em;
}
