body {
  padding-left: 30px;
}
.bar:hover {
  fill: #0cc;
}
.titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin: auto;
}
.tick {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}
.grid line {
  stroke: #ccc;
}
.grid path {
  stroke: white;
}
#tooltip {
  position: absolute;
  height: auto;
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-size: 0.9em;
  font-family: sans-serif;
}
#tooltip.hidden {
  display: none;
}
.fuente {
  font-family: sans-serif;
  margin-left: 100px;
}
.label {
  fill: white;
  font-size: 0.8em;
}
